@model IEnumerable<TestingBackend.Models.Form>


<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
		<link rel="stylesheet" href="~/Content/styles.css">
	</head>
	<body>
		<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
		<div class="row">
			<div class="col-lg-8">
				<div class="titulo">
					<h2>
						Listado de Formularios de solicitud de registro
					</h2>
				</div>
			</div>
		</div>
		<hr class="linea">
		<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right"
				title="Crear" onclick="@("window.location.href='" + @Url.Action("Create", "Home") + "'");" >
			Crear
		</button>
		<div class="tabla">
			<table class="table table-bordered">
				<thead class="borders">
					<tr class="titulos">
						<th scope="col">ID</th>
						<th scope="col">Código</th>
						<th scope="col">Nombre</th>
						<th scope="col">Dirección</th>
						<th scope="col">Acciones</th>
					</tr>
				</thead>
				<tbody class="items">
					@if (Model != null)
					{
					foreach (var item in Model)
					{
					<tr>
						<td class="id">
							@Html.DisplayFor(modelItem => item.id)
						</td>
						<td class="codigo">
							@Html.DisplayFor(modelItem => item.code)
						</td>
						<td class="nombre">
							@Html.DisplayFor(modelItem => item.name)
						</td>
						<td class="direccion">
							@Html.DisplayFor(modelItem => item.address)
						</td>
						<td class="acciones">
							<span class="span">
								<button type="button" class="btn btn-secondary" data-toggle="tooltip"
										data-placement="right" title="Editar">
									<i class="fas fa-pencil-alt edit"></i>
								</button>
							</span>
							<span class="span">
								<button type="button" class="btn btn-secondary" data-toggle="tooltip"
										data-placement="right" title="Ver">
									<i class="fas fa-search edit"></i>
								</button>
							</span>
							<span class="span">
								<button type="button" class="btn btn-secondary" data-toggle="tooltip"
										data-placement="right" title="Eliminar">
									<i class="fas fa-trash-alt edit"></i>
								</button>
							</span>
						</td>
					</tr>
				}
			}
				</tbody>
			</table>
		</div>
	</body>
</html>
